/*Default styling*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  p {
    margin-bottom: 1rem;
  }

/*Universal Selector*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*Variables*/
:root{
  --main-color: teal;

}

/*Element Selector*/

a{
  text-decoration: none;
  color: black;
  margin: 1rem;
}

h3{
  border-bottom: 0.5rem solid black;
}

header h1{
  margin-left: 1rem;
}

main{
    margin: 2rem 4rem 4rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;

}

/*Classes*/

.card{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    border: solid var(--main-color);
    border-radius: 2rem;
    margin: 3rem 1rem 3rem 1rem;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.card-header{
  border: 5px solid var(--main-color);
  width: fit-content;
  border-radius: 2rem;
  background-color: var(--main-color);
}

.card.placeholder-1{
    background: url("../Images/placeholder-1.jpeg");
    background-size: cover; 
    flex: 1 1 40%;
}

.card.placeholder-2{
    background: url("../Images/placeholder-2.jpeg");
    background-size: cover; 
    flex: 1 1 40%;
}

.card.placeholder-3{
    background: url("../Images/placeholder-3.jpeg");
    background-size: cover; 
    flex: 1 1 40%;
}

.card.placeholder-4{
    background: url("../Images/placeholder-4.jpeg");
    background-size: cover;
    flex: 1 1 40%; 
}

.card.refactor{
  background: url("../Images/html-code.jpeg");
  background-size: cover;
  flex: 2 1 100%;
}

.my-work{
  display: flex;
  flex-wrap: wrap;

}

.profile-image{
    width: 10rem;
    height: 13rem;
    object-fit: contain;
    border: 0.5rem solid black;
    margin: 1rem;
    float: left;
}

/*Id's*/
#Site-Header, footer{
    color: black;
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*psuedo elements*/

.card:hover{
  transition: all 0.5s;
  opacity: 50%;
}
